<nav style="text-align: left">
  <% if student_signed_in? %>
    <%= link_to('Logout', destroy_student_session_path, method: :delete) %>
  <% else %>
    <%= link_to('Login', new_student_session_path)  %> |
    <%= link_to('Sign Up', new_student_registration_path)  %>
  <% end %>
  <div id=root></div>
</nav>
